<form action="/sessions">
    <div class="container">
        <h1>Sign in</h1>
    </div>
    <div class="inline">
        <span>*</span>
        <label for="">Email</label>
    </div>
    <input type="email" name="email" required><br>
    <div class="inline">
        <span>*</span>
        <label for="">Password</label>
    </div>
    <input type="password" name="password" required><br>
    <button id="btn-style">Submit</button>
</form>