<div class="container active-form about">
    <div class="row text-center">
        <h1>About PhotoGuru</h1>
    </div>
    <div class="row mb=2">
        <p>PhotoGuru is a thriving community sharing knowledge or images. As you know, sharing is also learning!
        The community is also about being active and keep learning and improving.</p>
    </div>
</div>