<form class="active-form" action="/messages" method="POST">
    <div class="container">
        <h1>Contact us</h1>
    </div>
    <div class="inline">
        <span>*</span>
        <label for="">first_name</label>
    </div>
    <input type="text" name="first_name" required><br>
    <div class="inline">
        <span>*</span>
        <label for="">last_name</label>
    </div>
    <input type="text" name="last_name" required><br>
    <div class="inline">
        <span>*</span>
        <label for="">Email</label>
    </div>
    <input type="email" name="email" required><br>
    <div class="inline">
        <span>*</span>
        <label for="">Message</label>
    </div>
    <textarea name="message" cols="30" rows="6" required></textarea>
    </div><br>
    <button id="btn-style">Submit</button>
</form>