<% if logged_in? %>
<div class="container">
    <div class="row justify-content-between">
        <div class="col col-sm-7">
            <h4 class="text-start">Welcome back, <%= current_user['first_name'] %></h4>
        </div>
        <div class="col col-3 text-end">
            <form  action="/sessions" method="POST">
                <input type="hidden" name="_method" value="delete">
                <button id="member">Logout</button>
            </form>
        </div>
    </div>
    <div class="row jutify-content-between align-items-center">
        <div class="col col-sm-8">
            <form action="">
                <div class="inline">
                <select name="" id="">
                    <option value="">Choose your photography level</option>
                    <option value="">Beginner</option>
                    <option value="">Intermediate</option>
                    <option value="">Pro</option>  
                </select>
                <button id="member">Submit</button>
                </div>
            </form>
        </div>
        <div class="col col-sm-2">
            <a id="member" href="/albums/new">Create Album</a>
        </div>
         <div class="col col-sm-2">
            <a id="member" href="/images/new">Add image</a>
        </div>
    </div>
    <div class="row text-center">
        <p id="log"></p>
    </div>
    <div class="row text-center">
        <h4>Gallery</h4>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            
            <div class="carousel-inner">
                 <% images.each do |image| %>
                 <div class="carousel-item active" data-bs-interval="4000">
                    <img src="<%= image['img_url'] %>" class="d-block w-100" alt="...">
                </div>
                <% end %>
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="row text-center">
        <h4>Learning</h4>
    <div class="row align-content-center">
        <img src="https://images.unsplash.com/photo-1513031300226-c8fb12de9ade?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
    </div>
    <div class="row align-content-center">
        <a id="tutorials" href="/tutorials/new">Start Learning Journey</a>
    </div>
</div>

<% else %> 
<div class="container text-center"> 
    <div col col-sm-11 col-md-5 col-lg-5>
        <h3>Welcome,Guest!</h3>
        <h5>Join our thriving photography Community</h5>
        <li>Online photography tutorials</li>
        <li>Community support and feedback</li>
        <li>Photography Competitions</li>
        <br>
        <a id="btn-style" href="/users/new">Join PhotoGuru</a>
        <br><br>
        <P>Already a member? <a id="btn-style" href="/sessions/new">Sign in</a></P> 
    </div> 
    <div col col-sm-11 col-md-5 col-lg-5>
        <img src="https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" alt="">
    </div>
<div> 
<br>
<% end %>
