body {
    background-image: url("/images/bg.jpg");
    color: white;
}

h1,
p,
h4 
h3 {
    color:white;
}
.inline {
    display: inline-flex;
    gap:0.5rem;
}
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
}
a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color:white;
    background-color: rgb(39, 39, 39);
    border-radius: 2rem;
    cursor: pointer;
}
.container li {
    text-align: left;
    padding-left:2.5rem;
}
.container {
    color: white;
    margin-top: 1rem;
}
.active-form {
    display: grid;
    grid-template-rows: auto;
    gap:0.1rem;
    width: 90%;
    margin:0 auto 2rem auto;
    padding: 0 2rem 4rem 0.5rem;
    color: white;
    background-color: rgb(39, 39, 39);
    border-radius: 2rem;
} 

span {
    color: red;
}

.tips {
    width: 70%;
    margin: 0 auto;
    padding-top: 0.5rem;
    text-align: center;
    height: 1.5rem;
}
#btn-style {
    padding:0.5rem 1rem 0.5rem 1rem; 
    width: 100px;
    text-decoration: none;
    background-color: white;
    color: rgb(39, 39, 39);
    border-radius: 0.8rem;
    border: 0;
}
.col-3 form {
    padding:0;
    color: white;
    background:none;
    border: none;
}

.col-3 form button{
    padding:0; 
    text-decoration: none;
    background-color:none;
    color: white;
    border: none;
}
.container-fluid,
.navbar-toggler,
.navbar {
    background-color: rgb(39, 39, 39);
}
.logo {
    width: 50%;
}
img {
    max-width: 100%;
}
.col-sm-12, 
.col-md-6, 
.col-lg-6 {
    padding: 0;
    margin: 0;
}

.row h4 {
    color:white
}

#member {
    padding:0.2rem 0.5rem 0.2rem 0.5rem;
    width:5rem; 
    font-size: 0.8rem;
    text-decoration: none;
    background-color: white;
    color: rgb(39, 39, 39);
    border-radius: 0.2rem;
    border: 0;
}
.member:hover {
    color: rgb(39, 39, 39);

}
#page_footer {
    position: fixed;
    height: 3rem;
    bottom: 0;
    width: 100%;
    color: white;
}
.about {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

#log {
    width: 90%;
    margin: 1rem auto 1rem auto;
    border:1px solid white
}

.nav-link {
    color: white !important;
}
.navbar-toggler,
.navbar-toggler-icon,
.container-fluid button {
    color: darkgrey!important;
    border: rgb(255, 255, 255);   
}