<div class="container">
    <div class="row">
        <div class="col col-sm-12 col-lg-5 align-content-start">
            <h5>The famous exposure triange</h5>
            <div></div><iframe width="560" height="315" src="https://www.youtube.com/embed/XsGyXszfe-g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
        <div class="col col-sm-12 col-lg-5 align-content-start">
            <h5>As a Beginner, What camera to get?</h5>
            <div><iframe width="560" height="315" src="https://www.youtube.com/embed/aoAiIJZ6s-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
         <div class="col col-sm-12 col-lg-5 align-content-start">
            <h5>composition rules that makes your picture stand out</h5>
           <div><iframe width="560" height="315" src="https://www.youtube.com/embed/VArISvUuyr0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col col-sm-4">
                <p>Not what you are look for?</p> 
            </div>
            <form action="/tutorials/video"> 
                <div class="col col-sm-5">
                    <input type="text" name="keyword">
                </div>
                <div class="col col-sm-2">
                    <button>Search</button>
                </div>  
            </form>  
        </div>   
    </div>
</div>

