<h1>Personal album</h1>
Start your album by <a href="/images/new">Add images</a>

<div class="container">
<% images.each do |image| %>
<h3><%= image['title'] %> </h3>
 <img src="<%= image['image_url'] %>" alt="">
 <h3><%= image['author'] %></h3>
 <p><%= image['description'] %></p>
</div>
<% end %>