<form action="/contact">
    <div class="container">
        <h1>Contact Me</h1>
    </div>
    <div class="inline">
        <span>*</span>
        <label for="">First Name</label>
    </div>
    <input type="text" name="first_name" required><br>
    <div class="inline">
        <span>*</span>
        <label for="">Last Name</label>
    </div>
    <input type="text" name="last_name" required><br>
    <div class="inline">
        <span>*</span>
        <label for="">Email</label>
    </div>
    <input type="email" name="email" required><br>
    <div class="inline">
        <span>*</span>
        <label for="">Message</label>
    </div>
    <input type="textarea" name="password" required><br>
    </div>
    <button>Submit</button>
</form>