<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PhotoGuru</title>
  <link rel="icon" href="/images/icon.jpg">
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="logo_container">
      <img src="/images/logo.png" alt="">
    </div>
    <div class="nav_container">
    

    </div>
  </header>

  <%= yield %>
  <script src="/javascripts/application.js"></script>
</body>
</html>
